<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommunityToolsRental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<connectionStrings>
  <add name="Library" connectionString=" Data Source = DESKTOP-8NJ6POU ; Integrated Security = true; &#xD;&#xA;			 Initial Catalog = ToolsRentalDB"
   providerName="System.Data.SQLClient" />
  <add name="CommunityToolsRental.Properties.Settings.ToolsRentalDBConnectionString"
   connectionString="Data Source=DESKTOP-ULQ87HC\TAFE_SQL;Initial Catalog=ToolsRentalDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <CommunityToolsRental.Properties.Settings>
   <setting name="Color" serializeAs="String">
    <value>White</value>
   </setting>
  </CommunityToolsRental.Properties.Settings>
 </userSettings>
</configuration>